<div class="body-content">
  <nav class="sidebar">
    <h5 class="sidebar-heading" align="left">PRODUCT CATEGORIES</h5>
    <div class="sidebar-element">
      <a class="sidebar-link" href="#">
        Clocks<span class="sr-only">(current)</span></a
      >
    </div>
    <div class="sidebar-element">
      <a class="sidebar-link" href="#">
        Electonics<span class="sr-only">(current)</span></a
      >
    </div>
    <div class="sidebar-element">
      <a class="sidebar-link" href="#">
        Gadjets<span class="sr-only">(current)</span></a
      >
    </div>
  </nav>
  <div class="main-container">
    <h1 align="center">Our Products</h1>
    <br />

    <div class="row">
      <div class="products" *ngFor="let item of product">
        <app-product [product]="item"> </app-product>
      </div>
    </div>

    <!--<div class="sr-block" sr-meta="" sr-show-max="4">
    <app-product> </app-product>
  </div>-->
  </div>
</div>
