<div class="body-content">
  <nav class="sidebar">
    <h5 class="sidebar-heading" align="left">PRODUCT CATEGORIES</h5>
    <div class="sidebar-element">
      <a class="sidebar-link" (click)="onCategorySelect('Clocks')" href="#">
        Clocks<span class="sr-only">(current)</span></a
      >
    </div>
    <div class="sidebar-element">
      <a
        class="sidebar-link"
        (click)="onCategorySelect('Electronics')"
        href="#"
      >
        Electronics<span class="sr-only">(current)</span></a
      >
    </div>
    <div class="sidebar-element">
      <a class="sidebar-link" (click)="onCategorySelect('Gadjets')" href="#">
        Gadjets<span class="sr-only">(current)</span></a
      >
    </div>
  </nav>
  <div class="main-container">
    <h1 align="center">Our Products</h1>
    <br />

    <div class="row"><div class="products"></div></div>
    <div class="container">
      <div class="row">
        <div class="col" *ngFor="let item of (product | async)">
          <app-product [product]="item"> </app-product>
        </div>
      </div>
    </div>

    <!--<div class="sr-block" sr-meta="" sr-show-max="4">
    <app-product> </app-product>
  </div>-->
  </div>
</div>
