<div class="product" style="width:100%">
  <img
    src="assets/img/BlackWatch.jpg"
    class="product-img"
    alt="product image"
  />
  <h2 class="product-title">Black Smartwatch</h2>
  <div class="product-rating">
    <svg class="product-rating-icon">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
    <svg class="product-rating-icon">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
    <svg class="product-rating-icon">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
    <svg class="product-rating-icon">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
    <svg class="product-rating-icon">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
  </div>
  <div class="product-price">$290.00</div>
  <a href="#" class="product-button">Add To Cart</a>
</div>
