<div class="product" style="width: 90%">
  <img
    src="assets/img/BlackWatch.jpg"
    class="product-img"
    alt="product image"
  />
  <h2 class="product-title">{{ productName }}</h2>
  <div class="product-rating">
    <svg class="product-rating-icon">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
    <svg class="product-rating-icon">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
    <svg class="product-rating-icon">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
    <svg class="product-rating-icon">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
    <svg class="product-rating-icon">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
  </div>
  <div class="product-price">{{ price }}</div>
  <a href="#" class="product-button">Add To Cart</a>
</div>
